<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="libzip" version="1.1.2.7" targetFramework="native" />
  <package id="libzip.redist" version="1.1.2.7" targetFramework="native" />
  <package id="libzip-c" version="1.9.2.6" targetFramework="native" />
  <package id="rmt_libssh2" version="1.8.0.0" targetFramework="native" />
  <package id="rmt_openssl" version="1.1.0.3" targetFramework="native" />
  <package id="rmt_zlib" version="1.2.8.7" targetFramework="native" />
</packages>